body {
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.editor-ui {
    opacity: 0;
    pointer-events: none;
}

.editor-ui.active {
    opacity: 1;
    pointer-events: all;
}

#editor-controls {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: chocolate;
    padding: 1px;
}

.editor-controls__action {
    display: block;
    padding: 5px 0;
    background-color: #ccc;
    font-size: 20px;
    text-align: center;
    width: 45px;
}

.editor-controls__action.active {
    border-style: inset;
}

#editor-info {
    position: fixed;
    top: 50px;
    right: 200px;
    background-color: chocolate;
    padding: 1px;
}

.editor-info__component {
    border: 1px solid #999;
    padding: 5px;
    background-color: #ccc;
    display: none;
}

.editor-info__component.active {
    display: block;
}

.editor-info__component + .editor-info__component {
    border-top: 0;
}

.editor-info__label {
    font-weight: bold;
    text-transform: capitalize;
}

.game {
    width: 100vw;
    height: 100vh;
}

.view {
    display: block;
    float: left;
    width: 80%;
    height: 80%;
}

.details {
    display: block;
    float: right;
    width: 20%;
    height: 100%;
}

.console {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 20%;
    background-color: #eee;
    transition: height 1s ease;
}

.console.full {
    height: 80%;
}

.console.collapsed {
    height: 35px;
}

.messages {
    display:flex;
    flex-direction:column-reverse;
    height: calc(100% - 10px);
    overflow-y: scroll;
    padding: 5px;
}

.messages__inn {

}

.message {
    font-size: 2.2vh;
}

.message__text {

}

.message__bold {
    font-weight: bold;
}

.message__italics {
    font-style: italic;
}

.message__amount {
    margin-left: 1em;
}
