* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body.disable-select * {
    user-select: none;
}

.ui {
    display: block;
    z-index: -1000 !important;
    opacity: 0;
    pointer-events: none;
}

.ui.active {
    z-index: 0 !important;
    opacity: 1;
    pointer-events: all;
}

.menu {
    position: fixed;
    left: 5%;
    top: 5%;
    background-color: #000;
    min-width: 20%;
    max-width: 30%;
    text-align: center;
    padding: 0.5vh 2.5vh 4vh;
    border-radius: 15px 0;
    color: #eee;
}

.menu--full {
    left: 10%;
    right: 10%;
    max-width: none;
}

.menu hr {
    margin: 1.5vh 0;
}

.menu.active {
    background-color: rgba(0, 0, 0, .7);
}

.menu__title {
    font-size: 5vh;
    color: #fff;
    margin: 0 0 1.5vh;
    font-family: Georgia, serif;
}

.menu__action {
    margin: 0 auto;
    display: block;
    width: 75%;
    font-family: Lucida Console, serif;
    font-size: 1.8vh;
    padding: .5vh;
}

.menu__action--cancel {
    background-color: #f33;
}

.menu__action--cancel:hover {
    background-color: #f11;
}

.menu__action--confirm {
    background-color: #3f3;
}

.menu__action--confirm:hover {
    background-color: #3c3;
}

.menu__action + .menu__action {
    margin-top: 15px;
}

.menu--full .menu__action {
    width: auto;
    display: inline-block;
}

.menu--full .menu__action + .menu__action {
    margin-top: 0;
    margin-left: 15px;
}

#editor-controls {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: chocolate;
    padding: 1px;
}

.editor-controls__action {
    display: block;
    padding: 5px 0;
    background-color: #ccc;
    font-size: 20px;
    text-align: center;
    width: 45px;
}

.editor-controls__action.active {
    border-style: inset;
}

#editor-info {
    position: fixed;
    top: 50px;
    right: 200px;
    background-color: chocolate;
    padding: 1px;
}

.editor-info__component {
    border: 1px solid #999;
    padding: 5px;
    background-color: #ccc;
    display: none;
}

.editor-info__component.active {
    display: block;
}

.editor-info__component + .editor-info__component {
    border-top: 0;
}

.editor-info__label {
    font-weight: bold;
    text-transform: capitalize;
}

.game {
    width: 100vw;
    height: 100vh;
}

.view {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}

.details {
    padding: 10px 15px;
    font-size: 2vh;
    display: block;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ddd;
}


.details__header {
    margin-top: 20px;
}
.details__line {
    display: block;
}

.console {
    position: fixed;
    left: 25%;
    bottom: 0;
    width: 50%;
    height: 18.75%;
    background-color: #eee;
    transform: translate(0, 0);
}

.console.active {
    opacity: .95;
}

.console.animate {
    transition: all 1s ease;
}

.console.full {
    height: 80%;
    transform: translate(0, -10%);
}

.console.active.full {
    opacity: 1;
}

.console.collapsed {
    height: 8.25%;
}

.console__button {
    position: absolute;
    top: 0;
    z-index: 100;
    opacity: 1;
}

.console__increase {
    right: 40px;
}

.console.full .console__increase {
    opacity: 0;
    z-index: -1;
}

.console__decrease {
    right: 64px;
}

.console.collapsed .console__decrease {
    opacity: 0;
    z-index: -1;
}

.messages__wrap {
    position: absolute;
    opacity: 1;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.messages {
    display:flex;
    flex-direction:column-reverse;
    height: 100%;
    overflow-y: scroll;
}

.messages__inn {

}

.message {
    font-size: 2.2vh;
    text-shadow: 1px 1px 0 #888;
}

.message__text {

}

.message__bold {
    font-weight: bold;
}

.message__italics {
    font-style: italic;
}

.message__amount {
    margin-left: 1em;
}

.character-info {
    position: absolute;
    bottom: 0;
    width: 15%;
    height: 20%;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 15vh;
    text-align: center;
}
#character-health {
    left: 10%;
    color: #c00;
}

#character-mana {
    left: 75%;
    color: #00c;
}

.character-info__wrap {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 0;
    right: 0;
}

#character-mana .character-info__wrap {
    transform: rotate(180deg);
}

.character-info__bg {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

#character-health .character-info__bg {
    color: #ffe0e0;
}

.character-info__fg {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

#character-mana .character-info__bg,
#character-mana .character-info__fg {
    bottom: -15%;
    font-size: 18.75vh;
}

#character-mana .character-info__fg {
    color: #e0e0ff;
}

.character-info__text {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 3vh;
    color: #000;
    z-index: 30;
    text-shadow: 1px 1px 3px #eee;
}

#character-health .character-info__text {
    top: 38%;
    bottom: 0;
}

#character-mana .character-info__text {
    transform: rotate(180deg);
    top: 0;
    bottom: 38%;
}

.inventory {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 80%;
    transform: translateX(100%);
    transition: transform 1s ease;
    background: #fff;
    padding: 15px;
}

.inventory.active {
    transform: translateX(0);
}

.inventory__equipment {
    width: 100%;
    height: 65%;
    background-color: green;
}

.inventory__storage {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    background-color: #333;
    grid-gap: 0.2vw;
    padding: 0.2vw;
}

.inventory__storage-slot {
    background-color: gray;
    text-align: center;
    border-radius: 5px;
}

.inventory__storage-slot.has-item:hover {
    cursor: pointer;
    background-color: #999;
}

.inventory__storage-slot.disabled {
    background-color: #845b5b;
}

.inventory__storage-slot.dragging .item {
    display: none;
}

.item {
    pointer-events: none;
    position: relative;
    font-size: 4.5vh;
    user-select: none;
}

.item__icon {

}

.item__amount {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 1.1vw;
    color: #fff;
    line-height: 0.7vw;
}

.item__details {
    display: none;
}

.item__tooltip .item__details {
    display: block;
}

.item__details-line  {
    display: block;
}

.item__details-line span {
    font-weight: bold;
}

.inventory__golddisplay {
    width: 100%;
    height: 5%;
    font-size: 1.5vw;
    padding: 1%;
}

.item__tooltip {
    display: none;
    position: fixed;
    z-index: 1000;
    background: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 30%;
    font-size: 1.5vh;
    pointer-events: none;
}

.item__tooltip.active {
    display: block;
}

.item__drag {
    display: none;
    position: fixed;
    z-index: 1000;
    text-align: center;
    pointer-events: none;
}

.item__drag.active {
    display: block;
}

.item__name {
    font-weight: bold;
    font-size: 2.5vh;
}

.item__description {
    font-style: italic;
}


.savegame__overwrite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    pointer-events: none;
    padding: 15px;
    border-radius: 15px 0;
}

.savegame__overwrite.active {
    display: block;
    pointer-events: all;
}

.savegame__overwrite-title {
    color: #fff;
    font-size: 3vh;
}

.savegame__oldsaves,
.loadgame__oldsaves {
    margin-bottom: 15px;
}

.savegame__newsave-input {
    font-size: 2.2vh;
    display: inline-block;
    float: left;
    margin-right: 1vh;
}

.save {
    text-align: left;
    position: relative;
    font-size: 2vh;
    font-weight: bold;
}

.save label {
    font-family: Lucida Console, serif;
    display: block;
}

.save + .save {
    margin-top: 1vh;
}

.save__title,
.save__delete {
    font-size: 2vh;
}
.save__title {
    width: 80%;
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
}

.save__text {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.save__date,
.save__time {
    font-size: 1.2vh;
    grid-column: 2;
    text-align: right;
}

.save__date {
    grid-row: 1;
}

.save__time {
    grid-row: 2;
}

.save__delete {
    width: 10%;
    background-color: #f66;
    font-size: 3.6vh;
    line-height: 2.9vh;
    font-weight: bold;
    float: right;
}

.save__confirm {
    width: auto;
    display: inline-block;
}

.credits {
    font-size: 5vh;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
}

.credits .menu__content {
    transform: translateY(30%);
}

.credits.active .menu__content {
    transform: translateY(-100%);
    transition: all 30s linear;
}

.credits__title {
    font-size: 15vh;
    margin: 0;
}

.credits__section {
    padding: 15vh;
}

.settings input[type=checkbox] {
    width: 2vh;
    height: 2vh;
}

.settings input[type=number] {
    min-width: 55px;
    width: 4.5vh;
}

.settings .menu__actions,
.controls .menu__actions {
    margin-top: 3vh;
}

.controls label {
    text-align: right;
    padding-right: 25px;
}

.settings__section,
.controls__section {
    text-align: left;
    font-size: 2vh;
}

.settings__section-title,
.controls__section-title {
    font-size: 3vh;
    margin-top: 0;
    margin-bottom: .5vh;
    text-decoration: underline;
}

.settings__section + .settings__section,
.controls__section + .controls__section {
    padding-top: 15px;
    margin-top: 15px;
}

.settings__section-inn,
.controls__section-inn{
    padding: 0 15px;
}

.control {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
}

.controls__section {
    display: inline-block;
    width: 47%;
    margin-right: 2%;
}

.controls__section-inn {
    display: grid;
}